<% players.forEach(player => { %>
    <div class="player">
        <h1> <%= player.fullname %> </h1>
        <img src = "<%= player.image_path %>">
        <h2><%= player.birthcountry %> </h2>
        <h3>Club: <%= player.team.data.name %></h3>
        <img src = "<%= player.team.data.logo_path%>"/>
    </div>
<% }) %> 