<br>
<br>

    <!-- console.log(player) -->
    <!-- <table class="table table-dark">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td colspan="2" class="table table-dark table-hover">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2" class="table table-dark table-hover">Larry the Bird3</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2" class="table table-dark table-hover">Larry the Bird3</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> -->



    <div class="player">
        <table class="table table-dark">
            <tbody>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">
                    <img src="<%= player.image_path %>" class="rounded float-start" alt="...">
                    <img src="<%= player.team.data.logo_path%>" class="rounded float-start" alt="...">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  <h1 class = "display-6"><%= player.display_name %></h1>

                        </blockquote>
                        <figcaption class="blockquote-footer">
                        <p class = "display-7"title="Source Title"><%= player.team.data.name %></p>
                        </figcaption>
                      </figure>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Height (cm): <%= player.height %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Weight (kg): <%= player.stats.data[0].redcards %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Appearances: <%= player.stats.data[0].appearences%> </td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Goals: <%= player.stats.data[0].goals%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Assists: <%= player.stats.data[0].assists %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Red cards: <%= player.stats.data[0].redcards %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Minutes played: <%= player.stats.data[0].minutes%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Attempted crosses: <%= player.stats.data[0].crosses.total %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Shots taken: <%= player.stats.data[0].shots.shots_total %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Attempted Passes: <%= player.stats.data[0].passes.total %></td>
              </tr>
              

            </tbody>
          </table>


    </div>

