<br>
<br>
    <div class="player">
        <table class="table table-dark">
            <tbody>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">
                    <img src="<%= player.image_path %>" class="rounded float-start" alt="...">
                    <img src="<%= player.team.data.logo_path%>" class="rounded float-start" alt="...">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  <h1 class = "display-6"><%= player.display_name %></h1>

                        </blockquote>
                        <figcaption class="blockquote-footer">
                        <p class = "display-7"title="Source Title"><%= player.team.data.name %></p>
                        </figcaption>
                      </figure>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Height (cm): <%= player.height %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Weight (kg): <%= player.stats.data[0].redcards %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Appearances: <%= player.stats.data[0].appearences%> </td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Goals: <%= player.stats.data[0].goals%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Assists: <%= player.stats.data[0].assists %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Red cards: <%= player.stats.data[0].redcards %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Minutes played: <%= player.stats.data[0].minutes%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Attempted crosses: <%= player.stats.data[0].crosses.total %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Shots taken: <%= player.stats.data[0].shots.shots_total %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2" class="table table-dark table-hover">Attempted Passes: <%= player.stats.data[0].passes.total %></td>
              </tr>
           

            </tbody>
          </table>
          <form  method="POST" action="/players">
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                <input type="hidden" name="player_id" value="<%= player.player_id %>">
                <input type="hidden" name="player_name" value="<%= player.display_name %>"> 

                <input type="hidden" name="user_id" value="<%= user.user_id %>">
                <input type="hidden" name="playerClick" value="<%= player.player_id %>">

                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
            </form>
            <br>
            <br>
            <!-- <div> 
                  <% comments.forEach(comment => { %>
                   <% if (comment.playerId == player.player_id) { %>
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">You said: </div>
                          <h5 class="card-title"><%= comment.comment %></h5>
                      </div>
                    <% } %>
                 <% }) %> 
            </div> -->

    </div>

