

<!-- Results found and listed depending on the player that is searched for by the user -->
<% players.forEach(player => { %>
    <div class="player">
        <h1> <%= player.fullname %> </h1>
        <img src = "<%= player.image_path %>">
        <h2><%= player.birthcountry %> </h2>
        <h3>Club: <%= player.team.data.name %></h3>
        <img src = "<%= player.team.data.logo_path%>"/>
        <p>Appearences last season: <%= player.stats.data[0].appearences%> </p>
        <p>Mins Played last season: <%= player.stats.data[0].minutes %> </p>
        <p>Goals last season: <%= player.stats.data[0].goals %> </p>
        <p>Assists last season: <%= player.stats.data[0].assists %> </p>
        <p>Yellow Cards last season: <%= player.stats.data[0].yellowcards %> </p>
        <p>Red Cards last season: <%= player.stats.data[0].redcards %> </p>
        <p>Own Goals last season: <%= player.stats.data[0].owngoals %> </p>
        <p><%=player.fullname %> was dispossesed: <%= player.stats.data[0].dispossesed %> times last season  </p>
    </div>



    <!-- Comment boxes under every player -->
    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-info">Submit</a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <label class="checkbox">
                  <input type="checkbox"> Press enter to submit
                </label>
              </div>
            </div>
          </nav>
        </div>
      </article>
<% }) %> 